<!DOCTYPE html>
<html>
<head>
  
  <title>YWAM ipsum</title>
  
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "d3" %>
  <%= javascript_include_tag "d3.layout.cloud" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

</head>
<body>

  <div class="container row-fluid">
    
    <div class="span8 offset2">

      <%= yield %>

    </div>

  </div>

</body>
</html>
